:root {
  --TextColor: blue;
  --inputBorder: red;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center; /* 세로 방향으로 중앙 정렬 */
  align-items: center;
}
form div {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

label {
  color: var(--TextColor);
  width: 100px; /* 라벨의 너비를 고정하여 인풋 필드가 일정하게 배치되도록 함 */
}

div input {
  border: 1px solid var(--inputBorder);
  border-radius: 5px;
  padding: 15px;
  width: 250px;
}
select {
  max-width: 100px;
}

.update {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  color: white;
  background: var(--inputBorder);
  padding: 10px;
  margin-top: 20px; /* 버튼 위에 여백을 추가 */
}

#form button:hover {
  color: white;
  scale: 1.1;
  transition: all 0.5s;
}
#form .form-buttons {
  display: flex;
  gap: 10px; /* 버튼 간의 간격을 설정 */
}
.onCanCel {
  background: rgb(78, 233, 86);
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 5px;
}
