ul {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  position: relative;
  background-color: royalblue;
  padding: 20px;
  border-radius: 20px;
}
 {
  position: absolute;
}
