@media screen and (max-width: 1199px) and(min-width:200px) * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  background-color: blueviolet;
  color: black;
  width: 120px;
  height: 70px;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 40px;
}
#CMS {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 20px 20px;
  background-color: #9daaed;
  border-radius: 100px;
  margin: 30px 0;
  font-size: 40px;
  font-weight: bolder;
  color: darkblue;
}

li {
  list-style-type: none;
  display: flex;
}

#itemDivImg {
  padding: 30px;
  border: 1px solid #96c9db;
  border-radius: 10px;
}
#itemDivStu {
  text-align: center;
  padding: 10px 30px;
}
#itemDivData {
  padding: 10px 30px;
  border: 1px solid #96c9db;
  border-radius: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
#itemDivData button {
  width: 50px;
  border-radius: 30px;
}

.stu {
  margin-left: 40px;
  display: flex;
  justify-content: center;
}
