* {
  background-color: #eef5ff;
}
li {
  list-style-type: none;
  display: flex;
}

#itemDivImg {
  padding: 30px;
  border: 1px solid #96c9db;
  border-radius: 10px;
}
#itemDivStu {
  text-align: center;
  padding: 10px 30px;
}
#itemDivData {
  padding: 10px 30px;
  border: 1px solid #96c9db;
  border-radius: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
#itemDivData button {
  width: 50px;
  border-radius: 30px;
}
